*{
		list-style-type: none;
		text-decoration: none;
	}
	body {background-color: #CFD8DC;}
	 ul {
		color:#CFD8DC;
	}
	#org li .ang {
		display: none;
	}
			
	#org li:hover .ang {
		display: inline-flex;
		width: 300px;
		padding-left: 100px;
	}
			